<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sample420231124142236.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/846901e6-da09-45c8-98ca-7cca2353ff0e/resourcegroups/DefaultResourceGroup-WEU/providers/Microsoft.Web/sites/sample420231124142236</ResourceId>
    <UserName>$sample420231124142236</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://sample420231124142236.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>